a.fake-link{
    cursor: pointer;
}

a.delete{
    color:darkmagenta;
}

button.primary{
    color:white;
    background: slategray;
}

.bad{
    color: darkred;
    text-shadow: 1px 1px rgba(0,0,0,.3);
}

.good{
    color:lightgreen;
    text-shadow: 1px 1px rgba(0,0,0,.3);
}